*{
    margin:0px;
    padding: 0px;
   
}
.body {
    background-color: #F7F8FA;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

/* navbar */
/* ==============================navbar=============================== */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1AC073;
}

.nav_left{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1AC073;
}

.nav_left img{
    padding: 15px;
}

.nav_middle{
    flex:2;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.nav_links{
    display: flex;
    justify-content: space-between;
}

.nav_links li{
    list-style: none;
    padding: 15px;
}

.nav_links a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav_right{
    flex:1;
    /* background-color: #737373; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.nav_right img{
    padding-left: 5px;
    padding-right: 5px;
}

/* carousal */

/* ====================================carousal===================================== */

.carousal{
    width:100%;
    height:100vh;
    background-color: #1AC073;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carousal-left{
    background-color: #1AC073;
    display: flex;
    flex-direction: column;
}

.carousal-text1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color:#FFFFFF;
    
}
.carousal-text2{
    margin-top: 20px;
}

.carousal-text2 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color:#FFFFFF;
}

.carousal-search{
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.carousal-search input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #929292;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    outline: none;
}

.carousal-search button{
    padding: 10px;
    color: #FFFFFF;
    background: #F3BA00;
    border: 2px solid #F3BA00;
    border-radius: 0px 10px 10px 0px;
}

.carousal-right{
    background-color: #1AC073;
}

/* ==================================home container======================================= */

/* home container */
.heading{
    padding: 30px 30px 0px 30px;
}
.container{
    height: 500px;
    display: grid;
    padding: 30px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.item{
    border-radius: 50%;
}

.cards{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(187, 187, 187, 0.25);
    
    border-radius: 50%;
}

.image img{
    width:100%;
}

.title{
    background-color: #FFFFFF;
    padding: 10px;
}

.title1{
    display: flex;
    justify-content: space-between;
}

.title2{
    display: flex;
    justify-content: space-between;

}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftArrow img {
    box-sizing: border-box;
    border-radius: 50%;
    
    border: 2px solid #1AC073;
    background-color: transparent;
    cursor: pointer;
    border : 3px;
    
    padding: 10px;
    
}

#rightArrow img {
    
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border : 3px;
    background-color: #1AC073;
    padding: 10px;
}

.clientcards{
    width: 20%;
    padding: 30px 35px;
}

.clientimage img{
    width:100%;
}


/* home container end */

/* ====================================popular items================================== */

.services {
    background: linear-gradient(to bottom,  #FAFAFA 0%,#FAFAFA 50%,#C7EACC 50%, #C7EACC 100%);
}
.iframe {
    height: 70vh;
    width: 60vw;
    /* display: inline-block; */
    display: none;
    margin: 0% 20% 5% 20%;
}
.iframe-image{
    /* position: relative; */
    display: inline-block;
    height: 70vh;
    width: 60vw;
    margin: 0% 20% 5% 20%;
    position: relative;
    
}

.displaynone{
    display: none;
}

.displayblock{
    display: inline-block;
}
.iframe-img1{
    position: relative;
}
.iframe-img2{
    float: left;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1000;
    background: #1AC073;
    border: 1px solid #1AC073;
    border-radius: 50%;
    padding: 15px 10px 10px 15px;
}

.iframe-img2 img{
    /* width: 25px;
    height: 28px; */
}

.section-content {
    margin: 30px;
    padding: 30px;
    justify-content: center;
}
.section-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: -4px;

}
.section-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #737373;
}

.dish-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 48px;
    background: #1AC073;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}

.modal-open{
    overflow: hidden;
}

/* request dish modal */

.dish-modal-bg{
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.dish-bg-active{
    visibility: visible;
    opacity: 1;
}


.dish-modal{
    position: relative;
    background-color: white;
    width:80%;
    height:50%;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.dishmodal-button1{
    background: #F7F8FA;
    border: 2px solid black;
    border-color: #1AC073;
    border-radius: 10px;
    color: #1AC073;
    width: 210px;
    height: 58px;
}

.dishmodal-button2{
    background: #1AC073;
    border: none;
    border-radius: 10px;
    color: #F7F8FA;
    width: 210px;
    height: 58px;

}

.modal-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    cursor:pointer;
}

/* cart modal */
/* ==================================cart modal========================================== */
.cart-modal-bg{
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.cart-modal{
    position: relative;
    background-color: #F7F8FA;
    width:80%;
    height:70%;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-bg-active{
    visibility: visible;
    opacity: 1;
}

.cart-button{
    margin-top: 30px;
    padding: 15px 22px;
    background-color:  #1AC073;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.cart-modal-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    cursor:pointer;
}

/* form */
/* ====================================forms============================== */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8FA;
    width: 100%;
    height: 70vh;
    padding: 20px;
}

.form-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-inner-left{
    background-color: #F7F8FA;

}

.form-inner-right{
    background-color: #F7F8FA;
}

.form-inner-left-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #101115;
}

.form-inner-left-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1B1C21;
}

.form-inner-left-input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-inner-left-input1{
    display: flex;
    justify-content: space-between;
}

.form-inner-left-input1 input{
    background: #FFFFFF;
    padding:15px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    outline:none;
}

.form-inner-left-input2{
    margin-top: 10px;
    background-color: #F3BA00;
    background: #FFFFFF;
    padding:10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    outline:none;
}

.form-inner-left-input2 input{
    width: 100%;
    height: 15em;
    background: yellow;
    padding:10x;
    border-radius: 10px;
    border: none;
    outline:none;
}

.textarea{
    width: 100%;
    height: 150px;
    border:none;
    outline: none;
    background-color:  #FFFFFF;;
    font-size: 16px;
    resize: none;
}

/* footer */
/* =============================================footer========================================= */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1AC073;
    padding:20px;
}

.footer-top{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1AC073;
}

.footer-top-left{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1AC073;
}

.footer-top-left img{
    padding: 15px;
}

.footer-top-middle{
    flex:2;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.footer-top-mid-links{
    display: flex;
    justify-content: space-between;
}

.footer-top-mid-links li{
    list-style: none;
    padding: 15px;
}

.footer-top-mid-links a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer-top-right{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.footer-top-right img{
        background-color: white;
        border-radius: 10%;
        border: 1px solid white;
        padding: 2px;
      
}


.footer hr{
    border: 1px solid #FFFFFF;
}


/* ========================================slider=========================================== */


.top-deals{
    display: flex;
    position: relative;
    flex-direction:column;
    height: auto;
}
.slider-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slide-container{
    width: 80%;
    align-self: center;
    overflow: hidden;
    border-radius: 10px;

}
.top-deals-slider{
    padding: 0;
    width: 100%;
    border-radius: 5px;
    height: 80%;
    position:relative;
    display: -webkit-inline-box;
    align-self: center;
}
.slide-image{  
    display: flex;
    flex-direction: row;
    width: 31.33333%;
    height:100%;
    margin: 0 1%;
    flex-direction: column;
    background-color:#FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    transition: .15s ease-in;
}
.slide-image:hover{
    transform: scale(1.03);
    box-shadow: 1px 0px 10px #173e6df8;
}

.img{
    flex: 1.6;
    margin-bottom: 5px;
}

.btn{
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.left-btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 2px solid #1AC073;
    height: 40px;
    top: 45%;
    font-size: larger;
    position: absolute;
    background-color: white;
    color:#1AC073;
}

.right-btn{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 2px solid #1AC073;
    height: 40px;
    top: 45%;
    font-size: larger;
    position: absolute;
    background-color: #1AC073;
    color:white;
}

.left-btn{
    left: 5%;
}
.right-btn{
    right: 5%;
}





